.left{
    width: 190px;
    float: left;
    margin: 10px;
    text-align: center;
    border-right: 0.5px solid ;
}
.right{
    float: right;
    width: 1284px;
    padding-top: 40px;
    display: inline;
    padding-right: 43px;
}

/* Banner css*/
.banner-css{
    
    height: 200px;
    margin-bottom: 80px;
  }

.containerHome{
    width: 100%;
    margin: 0px;
    height: 750px;
    /* text-align: center; */
  }
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  
  
}

.left-left-nav{
    float: left;
    width: 190px;
    height: 100%;
    border-right: 2.5px solid #F5F5F5;
    padding: 6px;;
}
.right-right-nav{
    float: right;
    height: 100%;
   width: 1343px;
}
.right-right-nav-Home{
    float: right;
    height: 100%;
   width: 1328px;
  

}

.margin-username{
    /* margin-bottom: 0px;
    padding-bottom: 2px;
    padding-left: 0%;
    float: right;
    padding-right: 60px; */
    margin:0px;
    padding-left: 7%;
    height:29px;
    max-width:100%;
    float:left;
    overflow:auto;
    color: gray;
    
    
}

.left1{
    width: 50%;
    float: left;
    margin: 10px;
    text-align: center;
   
}
.right1{
    
    float: right;
    
    margin-right: 10px;
    text-align: center;
   
}

.left-down-all{
    padding-left: 8px;
}
.oneBlock{
    width: 100%;
    text-align: center;
}
.oneBox{
    width: 300px ;
    display: inline-block;
    vertical-align: middle;
    padding-left: 0px;
    padding-right: 40px;
}
.secondBox{
    width: 300px ;
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.images3{
    width: 270px;
    height: 200px;
    margin: 20px;
}

.my-buttons{
    font-size: 15px; /*Change font size to 20px*/
    padding: 10px 20px; /*Add padding to increase button size*/
    width: 200px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    background-color: #F0750A;
}

.my-buttons3{
    font-size: 15px; /*Change font size to 20px*/
    padding: 10px 20px; /*Add padding to increase button size*/
    width: 200px;
    border: none;
    border-radius: 4px;
    background-color: green;
}
.my-buttons2{
    font-size: 15px; /*Change font size to 20px*/
    padding: 10px 20px; /*Add padding to increase button size*/
    width: 200px;
    border: none;
    border-radius: 4px;
    background-color: #F0750A;
    margin-right: 5px;
}
.buttons-spacing{
    margin-bottom: 40px;
}

.leftSection{
    margin-right: 20px;

}
.RightSection{
    
    width: 400px;
}
.bills{
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #989898;
    margin-bottom: 10px;
    color: white;
    background-color: #6092C0;
}
.paragraph-bills{
    padding-left: 30px;
    padding-bottom: 10px;
}
.paragraph{
    padding-left: 30px;
}
.graph{
    padding: 20px;
    background-color: #F7FBFE;
}
.top-part{
    background-color: #CEE6FC;
    border-radius: 10px;
    margin-bottom: 20px;
}
.align-right{
    text-align: right;
    padding-bottom: 1px;
    margin-bottom: 3px;
}
.totalamt{
    color: red;
}
.hr-width{
    width: 10px;
    margin: 0.8rem -2px;
    margin-right:0px;
    padding-right:0px;
}
.button-width{
    width: 100%;
}


/* report issue */
 #submit-report{
    width: 100px;
    padding: 5px;
}
.report-section{
    padding-left: 30px;
    padding-top: 20px;
    margin-top: 10px;
}

/* contact section */
#contact-section{
    padding-left: 30px;
    padding-top: 20px;
    margin-top: 10px;
}


/* pay bill section */
.space-between-element{
    padding-right: 170px;
}


.FirstBox{
    padding: 20px;
    background-color: #f5f5f5;
    width: 265px;
    height:115px;
    margin-right: 20px;
    margin-bottom: 25px;
    
}
