.navbar-wrapper {
  background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 0px;
    margin: 5px 5px;
    width: 100%;
  }
  
  .nav-pills {
      display: flex;
      justify-content: space-between;
      width: 100%;
    
   
    
  }
  
  .nav-account {
    position: absolute;
    right: 10px;
    padding: 0px;
    margin-left: auto;
  }

  .btn-success{
   --bs-btn-bg: none;
   
   --bs-btn-border-color: none;
   --bs-btn-hover-bg: none;
  }
  .smallsize {
    width: 40x;
    height: 50px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
    float: left;
    clear: left;
}
.full_width {
  width: 100%;
}