.navbar-wrapper {
  background-color: #0A83F0;
  display: flex;
  justify-content: space-between;

  height: 60px;
  width: 100%;
  margin: 0px;
  padding-top: 10px;
  padding-right: 10px;
}
.Dropp {
  margin-left: auto;
  margin-bottom: 20px;
}
  
  .nav-pills {
      display: flex;
      justify-content: space-between;
      width: 100%;
    
  }
  
  .nav-account {
    position: absolute;
    right: 10px;
    padding: 0px;
    margin-left: auto;
  }

  .btn-success{
   --bs-btn-bg: none;
   
   --bs-btn-border-color: none;
   --bs-btn-hover-bg: none;
  }
  .smallsize {
    width: 40x;
    height: 50px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
    float: left;
    clear: left;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  color: var(--bs-btn-active-color);
  background-color: transparent;
  border-color: var(--bs-btn-active-border-color);
}