.sidebar-fonts{
   height: 100%;
   width: 100%;
    color: #8C8E8D;
    padding: 15px;
    margin-left:18px;
}
.sidebar-fonts-dashboard{
 
  width: 140px;
   color: #8C8E8D;
   padding: 15px;
   height: 100%;
   margin-left:18px;
}
.sidebar-fonts-user{
  height: 37px;
  width: 140px;
  color: #8C8E8D;
  padding-left: 29px;
   margin-left:18px;
}
.sidebar-fonts-meter{
  height: 37px;
  width: 177px;
  color: #8C8E8D;
  padding-left: 29px;
   margin-left:18px;
}

.sidebar{
  background-color: #F9F9F9;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.sidebar-section{
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
    

.sidebar-section2{
  height: 100%;
    
}
.sidebar-link {
    /*   */
  }
  
  .sidebar-link.active {
   color: #0A83F0;
  }
  .myfontcolor.active{
    color: #ffffff;
  }
  .sidebar-link.active > p {
    color: white;
  }


  .dashbaord-image{
  width: 143.6px;
  height: 24px;
  left: 41px;
  top: 218px;
  display: flex;
    align-items: center; /* vertically center the items */
    flex-wrap: nowrap; /* prevent wrapping */
}
.myProfilePic{
  width: 30px;
  height: 30px;
} 

.myCancelButton{
  background-color: rgb(161, 161, 161);
  border:  rgb(161, 161, 161);
}
.myCancelButton:hover{
  background-color: gray;

}