.viewButton{
    color: black;
}
.meterReader-table12{
  padding: 20px;
}
.MyBody{
  margin: 30px;
  padding: 40px;
}
.MyBody td a {
  color: black; 
  text-decoration-color: #0A83F0;
}
.MyBody td a :hover {
  color: #0A83F0; 
  text-decoration-color: #0A83F0;
}
.outer-border{
  border-radius: 11px;
  box-shadow: 0px 0px 12px 0px #00000040;
  border-collapse: collapse;
  width: 100%;
}
.captions {
  text-align: center;
  caption-side: top;
  width: 100%;
}


