.meter-Table{
    width: 100vh;
   
    font-size: 12px;
    padding-left: 200px;
}
.meter-Table2{
   
    font-size: 12px;
    
    padding-right: 0px;
    padding-left: 149px;
}
/* input[type=text], select .meter-Table2 {
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */

.meterButtons{
    width: 180px;
    border: none;
    background-color: #F5F5F5;
    color: #2F4858;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    margin-right: 20px;
}
.meterButtons:hover{
    color: #2F4858;
    background-color: #e0e0e0;
}
 .meterButtons2  {
    width: 180px;
    border: none;
    background-color: #0A83F0;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    margin-right: 20px;


}
.meterButtons2:hover  {
   
    background-color: #0866b9;
}

.meter-table{
    width: 100%;
    
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 20px;
    margin-top: 20px;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
.myTables{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #FAFAFA;
    padding: 20px 60px 60px 60px;
    
    
}
.myTables2{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #FAFAFA;

    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    
}
.MyScheduleBorder{
    width: 95%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #FAFAFA;
    padding-top: 20px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    
}
table tr th{
    
    color: #2F4858;
}
.meterReader-table{
    margin: 10px;
    border-radius: 20px;
    border-collapse: collapse;
    border: 2px solid #0A83F0; /* outer border */
}
.meterReader-table td, .meter-Table th{
    border: none;
}

input[type=submit],.submitSchedule{
    background-color: #0d6efd;
}
.meter-Table td{
    padding-right: 18px;
    border: none;
   
    text-align: center;
}
.DeletePopOver{
    width: 500px;
    margin-left: 500px;
    margin-right: 500px;
}
.main-box2 {
   display: flex;
   justify-content: center;
    padding: 20px;
    margin-top: 20px;
}
.main-Table{
    float: left;

}
.main-Table2{
    float: right;

}

.MyClass{
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f9f9f9;
 }
 .MyColor{
     color: #2F4858;
     margin-right: 10px;
 }
 .inputBox{
    width: 400px;
}
.right-right-nav{
    float: right;
    height: 100%;
    width: 1346px;
}