.auto-group-4caf-5yd {
    align-items: center;
    background-color: #f9f9f9;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 113.1rem;
    padding: 0.1rem 0.6rem 6.2rem 3.5rem;
    width: 29.3rem;
}
  
    .auto-group-uelt-U27 {
      flex-shrink: 0;
      margin: 0rem 2.749rem 2.278rem 0rem;
      width: 22.4513rem;}
  
      .logo-2-jTq {
        height: 18.8rem;
        object-fit: cover;
        vertical-align: top;
        width: 18.8rem;
      }
   
    .group-1326-Ddu {
      align-items: flex-end;
      display: flex;
      flex-shrink: 0;
      margin: 0rem 9.84rem 5.4rem 1.456rem;
      width: calc(100% - 11.2958rem);}
  
      .home-1-Htf {
        flex-shrink: 0;
        height: 2.3205rem;
        margin: 0rem 1.038rem 0.802rem 0rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.6667rem;
      }
      .dashboard-BDM {
        color: #2f4858;
        flex-shrink: 0;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2175;
        white-space: nowrap;
      }
    
    .group-1328-1y5 {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;
      height: 2.4rem;
      margin: 0rem 11.54rem 5.4rem 1.2rem;
      padding: 0.062rem 0rem 0.062rem 0.2rem;
      width: calc(100% - 12.7402rem);}
  
      .akar-icons-schedule-fXq {
        flex-shrink: 0;
        height: 2rem;
        margin-right: 1.6598rem;
        object-fit: contain;
        vertical-align: top;
        width: 2rem;
      }
      .schedule-aPu {
        color: #2f4858;
        flex-shrink: 0;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.2175;
        margin-bottom: 0.0766rem;
        white-space: nowrap;
      }
    
    .group-1333-UEP {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;
      height: 2.4rem;
      margin: 0rem 13.64rem 5.4rem 1.4rem;
      padding: 0.0617rem 0;
      width: calc(100% - 15.0402rem);
    }
      .simple-icons-googleclassroom-u4o {
        flex-shrink: 0;
        height: 2.0726rem;
        margin: 0rem 1.06rem 0rem 0rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4rem;
      }
      .classes-8TM {
        color: #74c043;
        flex-shrink: 0;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.2175;
        margin-bottom: 0.0766rem;
        white-space: nowrap;
      }
    
    .group-1335-mmD {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;
      height: 2.4rem;
      margin: 0rem 12.54rem 5.4rem 1.4rem;
      padding: 0.062rem 0rem 0.062rem 0.327rem;
      width: calc(100% - 13.9402rem);
    }
      .akar-icons-person-3Cw {
        flex-shrink: 0;
        height: 2rem;
        margin-right: 1.3863rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.7469rem;
      }
      .lecturer-Lxj {
        color: #2f4858;
        flex-shrink: 0;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.2175;
        margin-bottom: 0.0766rem;
        white-space: nowrap;
      }
    
    .group-1334-36T {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;
      height: 2.4rem;
      margin: 0rem 11.84rem 5.062rem 1.2rem;
      padding: 0.062rem 0rem 0.062rem 0.225rem;
      width: calc(100% - 13.0402rem);
    }
      .ph-student-Vj9 {
        flex-shrink: 0;
        height: 1.8749rem;
        margin: 0rem 1.685rem 0.075rem 0rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.9501rem;
      }
      .students-Zj1 {
        color: #2f4858;
        flex-shrink: 0;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.2175;
        margin-bottom: 0.0766rem;
        white-space: nowrap;
      }
    
    .group-1370-g2w {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;
      margin: 0rem 11.14rem 37.744rem 1.2rem;
      padding-left: 0.1833rem;
      width: calc(100% - 12.3402rem);
    }
      .ic-outline-feedback-Mes {
        flex-shrink: 0;
        height: 1.8333rem;
        margin: 0.038rem 1.843rem 0rem 0rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.8333rem;
      }
      .feedback-TC7 {
        color: #2f4858;
        flex-shrink: 0;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.2175;
        margin-bottom: 0.0383rem;
        white-space: nowrap;
      }
    
    .group-1337-mCo {
      border-radius: 1rem;
      flex-shrink: 0;
      height: 6.3559rem;
      margin-left: 0.2rem;
      width: 25rem;
    }
      .group-1337-5DV {
        align-items: center;
        border-radius: 1rem;
        box-sizing: border-box;
        display: flex;
        height: 100%;
        padding-right: 4.9305rem;
        width: 100%;
      }
        .image-6-CJ7 {
          border-radius: 1rem;
          flex-shrink: 0;
          height: 6.3559rem;
          margin-right: 3.8136rem;
          object-fit: cover;
          vertical-align: top;
          width: 6.3559rem;
        }
        .admin-honi-H4f {
          color: #2f4858;
          flex-shrink: 0;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.2175;
          margin-bottom: 0.6836rem;
          white-space: nowrap;
        }
      
    
  